{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

    {{ include("Admin/navbar.html.twig") }}

    <h3 class="mt-5">Products Table</h3>

    <table class="table m-lg-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.image }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('app_products_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('app_products_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_products_new') }}">Create new</a>
{% endblock %}
